footer {
  height: 80px;
  width: 100%;
  background: #000000;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
footer a {
  margin: 0 30px;
  font-size: 30px;
}
footer i {
  color: white;
}
