// out: ../css/voverc.css

@body_background_color: #ffffff; 
@color_black: black;
@color_active: rgb(255, 112, 98);

html, body {
    background-color: @body_background_color;
    margin: 0;
    padding: 0;
    font-family: "Tahoma";
    position: relative;
}
h1, h2, h3, h4, h5, h6, ul, li, p, a, div {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: @color_black;
    font-family: "Tahoma";
    font-size: 14px;
    font-weight: normal;
}
/* ================================= */
/* ::::::::::::: Mixins :::::::::::: */
/* ================================= */



@media (max-width: 1900px) {

}




