html,
body {
  background-color: white;
  margin: 0;
  padding: 0;
  font-family: "Tahoma";
  position: relative;
}
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
p,
a,
div {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  color: black;
  font-family: "Tahoma";
  font-size: 14px;
  font-weight: normal;
}
/* ================================= */
/* :::::::::: Flex-Mixins :::::::::: */
/* ================================= */
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.flex-center-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.flex-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}
.flex-col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.flex-jc-start {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: start;
}
.flex-jc-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.flex-jc-end {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.flex-jc-space-around {
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
.flex-jc-space-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.flex-jc-space-evenly {
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}
.h-and-w {
  height: 100%;
  width: 100%;
}
/* ================================= */
/* :::::: Transition-Transform ::::: */
/* ================================= */
.transform-none {
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
}
.box {
  -webkit-transition: all ease 1s;
  -o-transition: all ease 1s;
  transition: all ease 1s;
}
.box {
  -webkit-transition: all ease 10s;
  -o-transition: all ease 10s;
  transition: all ease 10s;
}
.visible {
  opacity: 1;
  visibility: visible;
}
.hidden {
  opacity: 0;
  visibility: hidden;
}
html,
body {
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  font-family: "Tahoma";
  position: relative;
}
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
p,
a,
div {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  color: black;
  font-family: "Tahoma";
  font-size: 14px;
  font-weight: normal;
}
/* ================================= */
/* :::::::::::: Mixins ::::::::::::: */
/* ================================= */
.translateX_120 {
  -webkit-transform: translateX(120px);
  -ms-transform: translateX(120px);
  transform: translateX(120px);
}
.translateY_100 {
  -webkit-transform: translateY(100px);
  -ms-transform: translateY(100px);
  transform: translateY(100px);
}
.translateY_1000 {
  -webkit-transform: translateY(1000px);
  -ms-transform: translateY(1000px);
  transform: translateY(1000px);
}
.translateY_m_1000 {
  -webkit-transform: translateY(-1000px);
  -ms-transform: translateY(-1000px);
  transform: translateY(-1000px);
}
.translateX_m_1000 {
  -webkit-transform: translateX(-1000px);
  -ms-transform: translateX(-1000px);
  transform: translateX(-1000px);
}
.translateX_1000 {
  -webkit-transform: translateX(1000px);
  -ms-transform: translateX(1000px);
  transform: translateX(1000px);
}
header {
  height: 100px;
  width: 100%;
  background: black;
}
.global-projects-wrapper {
  overflow: hidden;
  /* ================================= */
  /* :::::::::::::: ONE/SEVEN :::::::::::::: */
  /* ================================= */
  /* ================================= */
  /* :::::::::::::: TWO :::::::::::::: */
  /* ================================= */
  /* ================================= */
  /* ::::::::::::: THREE ::::::::::::: */
  /* ================================= */
  /* ================================= */
  /* ::::::::::::: FOUR :::::::::::::: */
  /* ================================= */
  /* ================================= */
  /* ::::::::::::: FIVE :::::::::::::: */
  /* ================================= */
  /* ================================= */
  /* :::::::::::::: SIX :::::::::::::: */
  /* ================================= */
  /* ================================= */
  /* ::::::::::::: SEVEN ::::::::::::: */
  /* ================================= */
}
.global-projects-wrapper .main-project-wrapper {
  height: 500px;
  width: 900px;
  margin: 200px auto;
  position: relative;
}
.global-projects-wrapper .main-project-wrapper:hover .project-overlay {
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
}
.global-projects-wrapper .main-project-wrapper:hover .project-number {
  -webkit-animation: projectOne 1s;
  animation: projectOne 1s;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.global-projects-wrapper .main-project-wrapper:hover .about-text {
  visibility: visible;
  opacity: 1;
}
.global-projects-wrapper .main-project-wrapper:hover .about-btn {
  visibility: visible;
  opacity: 1;
}
.global-projects-wrapper .project-wrapper {
  box-sizing: border-box;
  -webkit-box-shadow: -1px 10px 115px 12px rgba(0, 0, 0, 0.44);
  -moz-box-shadow: -1px 10px 115px 12px rgba(0, 0, 0, 0.44);
  box-shadow: -1px 10px 115px 12px rgba(0, 0, 0, 0.44);
  -webkit-transition: all ease 1s;
  -o-transition: all ease 1s;
  transition: all ease 1s;
}
.global-projects-wrapper .wrapper-for-overlay {
  position: relative;
  height: 500px;
  width: 900px;
  overflow: hidden;
}
.global-projects-wrapper .wrapper-for-overlay a img {
  height: 100%;
  width: 100%;
}
.global-projects-wrapper .project-overlay {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background: -webkit-gradient(linear, right top, left top, from(rgba(35, 90, 166, 0.9)), to(rgba(16, 27, 59, 0.9)));
  background: -webkit-linear-gradient(right, rgba(35, 90, 166, 0.9), rgba(16, 27, 59, 0.9));
  background: -o-linear-gradient(right, rgba(35, 90, 166, 0.9), rgba(16, 27, 59, 0.9));
  background: linear-gradient(270deg, rgba(35, 90, 166, 0.9), rgba(16, 27, 59, 0.9));
  -webkit-transition: all ease 1s;
  -o-transition: all ease 1s;
  transition: all ease 1s;
}
.global-projects-wrapper .project-number {
  position: absolute;
  color: rgba(255, 255, 255, 0);
  font-size: 150px;
  font-weight: 900;
  height: 200px;
  width: 200px;
  background-image: -webkit-linear-gradient(black 100px, #ffffff 100px);
  background-image: -o-linear-gradient(black 100px, #ffffff 100px);
  background-image: linear-gradient(black 100px, #ffffff 100px);
  -webkit-background-clip: text;
  background-clip: text;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(100px);
  -ms-transform: translateY(100px);
  transform: translateY(100px);
  -webkit-transition: all ease 1s;
  -o-transition: all ease 1s;
  transition: all ease 1s;
}
.global-projects-wrapper .about h2 {
  font-size: 45px;
  font-weight: 900;
  color: #ffffff;
  position: absolute;
  top: 300px;
  left: 50px;
}
.global-projects-wrapper .about-text {
  -webkit-transition: all ease 1s;
  -o-transition: all ease 1s;
  transition: all ease 1s;
  visibility: hidden;
  opacity: 0;
}
.global-projects-wrapper .about-btn {
  height: 60px;
  width: 200px;
  position: absolute;
  z-index: 10;
  top: 380px;
  left: 50px;
  border-radius: 10px;
  font-size: 40px;
  font-weight: 900;
  background: none;
  text-decoration: none;
  outline: 0;
  border: 1px solid #ffffff;
  cursor: pointer;
  color: #ffffff;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all ease 1s;
  -o-transition: all ease 1s;
  transition: all ease 1s;
}
.global-projects-wrapper .about-btn.active {
  color: black;
  border: 1px solid black;
}
.global-projects-wrapper .info ul {
  font-size: 20px;
}
.global-projects-wrapper .info ul li {
  font-size: 20px;
  color: black;
  list-style-type: square;
}
.global-projects-wrapper .info ul li:first-child {
  padding-top: 20px;
}
.global-projects-wrapper .info .list {
  position: absolute;
  -webkit-transition: all ease 1s;
  -o-transition: all ease 1s;
  transition: all ease 1s;
  visibility: hidden;
  opacity: 0;
}
.global-projects-wrapper .info .list.first {
  top: 50px;
  left: 200px;
}
.global-projects-wrapper .info .list.second {
  top: 50px;
  left: 400px;
}
.global-projects-wrapper .info .list.third {
  top: 50px;
  left: 600px;
}
.global-projects-wrapper .info .list.active {
  visibility: visible;
  opacity: 1;
}
.global-projects-wrapper .project-wrapper.one {
  margin: 100px auto;
}
.global-projects-wrapper .project-wrapper.one.active {
  -webkit-transform: translateX(-1000px);
  -ms-transform: translateX(-1000px);
  transform: translateX(-1000px);
}
.global-projects-wrapper .project-overlay.one {
  -webkit-transform: translateX(-1000px);
  -ms-transform: translateX(-1000px);
  transform: translateX(-1000px);
  cursor: pointer;
}
.global-projects-wrapper .project-number.one {
  top: -70px;
  right: -55px;
}
.global-projects-wrapper .about-btn.one.active,
.global-projects-wrapper .about-btn.seven.active {
  -webkit-transform: translateX(120px);
  -ms-transform: translateX(120px);
  transform: translateX(120px);
}
@-webkit-keyframes projectOne {
  100% {
    background-position: 0 -200px;
    opacity: 1;
    visibility: visible;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
}
@keyframes projectOne {
  100% {
    background-position: 0 -200px;
    opacity: 1;
    visibility: visible;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
}
.global-projects-wrapper .project-wrapper.two.active {
  -webkit-transform: translateX(1000px);
  -ms-transform: translateX(1000px);
  transform: translateX(1000px);
}
.global-projects-wrapper .project-overlay.two {
  -webkit-transform: translateX(1000px);
  -ms-transform: translateX(1000px);
  transform: translateX(1000px);
  cursor: pointer;
}
.global-projects-wrapper .project-number.two {
  top: -50px;
  left: -45px;
}
.global-projects-wrapper .about-btn.two.active {
  -webkit-transform: translateX(120px);
  -ms-transform: translateX(120px);
  transform: translateX(120px);
}
.global-projects-wrapper .project-wrapper.three.active {
  -webkit-transform: scale(0) rotate(360deg);
  -ms-transform: scale(0) rotate(360deg);
  transform: scale(0) rotate(360deg);
}
.global-projects-wrapper .project-overlay.three {
  -webkit-transform: translateY(1000px);
  -ms-transform: translateY(1000px);
  transform: translateY(1000px);
  cursor: pointer;
}
.global-projects-wrapper .project-number.three {
  top: -50px;
  right: -50px;
}
.global-projects-wrapper .about-btn.three.active {
  -webkit-transform: translateX(120px);
  -ms-transform: translateX(120px);
  transform: translateX(120px);
}
.global-projects-wrapper .project-wrapper.four.active {
  -webkit-transform: rotateY(90deg);
  transform: rotateY(90deg);
}
.global-projects-wrapper .project-overlay.four {
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  cursor: pointer;
}
.global-projects-wrapper .project-number.four {
  top: -50px;
  left: -45px;
}
.global-projects-wrapper .about-btn.four.active {
  -webkit-transform: translateX(120px);
  -ms-transform: translateX(120px);
  transform: translateX(120px);
}
.global-projects-wrapper .project-wrapper.five.active {
  -webkit-transform: translateY(300px) scale(0);
  -ms-transform: translateY(300px) scale(0);
  transform: translateY(300px) scale(0);
}
.global-projects-wrapper .project-overlay.five {
  -webkit-transform: translateY(-1000px);
  -ms-transform: translateY(-1000px);
  transform: translateY(-1000px);
  cursor: pointer;
}
.global-projects-wrapper .project-number.five {
  top: -55px;
  right: -65px;
}
.global-projects-wrapper .about-btn.five.active {
  -webkit-transform: translateX(120px);
  -ms-transform: translateX(120px);
  transform: translateX(120px);
}
.global-projects-wrapper .project-wrapper.six.active {
  -webkit-transform: rotate(-360deg) scale(0);
  -ms-transform: rotate(-360deg) scale(0);
  transform: rotate(-360deg) scale(0);
}
.global-projects-wrapper .project-overlay.six {
  -webkit-transform: translate(1000px, 1000px);
  -ms-transform: translate(1000px, 1000px);
  transform: translate(1000px, 1000px);
  cursor: pointer;
}
.global-projects-wrapper .project-number.six {
  top: -90px;
  left: -45px;
}
.global-projects-wrapper .about-btn.six.active {
  -webkit-transform: translateX(120px);
  -ms-transform: translateX(120px);
  transform: translateX(120px);
}
.global-projects-wrapper .project-wrapper.seven.active {
  -webkit-transform: translateX(-1000px);
  -ms-transform: translateX(-1000px);
  transform: translateX(-1000px);
  cursor: pointer;
}
.global-projects-wrapper .project-overlay.seven {
  -webkit-transform: translateY(-1000px);
  -ms-transform: translateY(-1000px);
  transform: translateY(-1000px);
  cursor: pointer;
}
.global-projects-wrapper .project-number.seven {
  top: -55px;
  right: -65px;
}
.global-projects-wrapper .about-btn.seven.active {
  -webkit-transform: translateX(120px);
  -ms-transform: translateX(120px);
  transform: translateX(120px);
}
footer {
  height: 100px;
  width: 100%;
  background: black;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
footer a {
  margin: 0 30px;
  font-size: 30px;
}
footer i {
  color: #ffffff;
}
#top {
  width: 100px;
  border: 1px solid black;
  background: black;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 100px;
  /* отступ кнопки от нижнего края страницы*/
  right: 0;
  cursor: pointer;
  display: none;
  color: #ffffff;
  font-family: "Tahoma";
  font-size: 15px;
}
#top img {
  width: 30px;
  height: 30px;
}
.elements-header .menu {
  margin-left: 10px;
  float: left;
}
.elements-header .menu li {
  display: inline-block;
  position: relative;
}
.elements-header .menu li a {
  color: white;
  display: block;
  padding: 12px;
  white-space: nowrap;
  font-size: 20px;
}
.elements-header .menu li a:hover {
  background-color: white;
  color: black;
}
.elements-header .menu li:hover ul {
  visibility: visible;
  z-index: 10;
}
.elements-header .menu li:hover ul a {
  min-width: 70px;
}
.elements-header .menu ul {
  opacity: 1;
  visibility: hidden;
  position: absolute;
  background-color: black;
  z-index: 5;
}
