// out: ../css/weather-api.css
@import (optional) "mixins.less";
@primary: #2980b9;
@hover: #3ca1e4;
@disabled: #08446b;
@text-color:white;
@title-text-color: white;
@search-location: white;
// Generals styles
html, body {
	margin: 0;
	padding: 0;
	font-family: "Tahoma";
}
h1, h2, h3, h4, h5, h6, ul, li, a, span, div, p, input {
	margin: 0;
	padding: 0;
	font-size: 13px;
	color: #000;
	font-family: "Tahoma";
	font-weight: normal;
	text-decoration: none;
	box-shadow: none;
	border: none;
}
// Mixins
.border {
	// border-top: 1px solid white;
	border-top: none;
}

// GLOBAL STYLES
.search-wrapper {
	width: 450px;
	margin-top: 60px;
	margin-left: auto;
	margin-right: auto;
	.transform-none;
	.transition(0.5s);
	&.active {
		visibility: hidden;
		opacity: 0;
		position: absolute;
		left: 34%;
		-webkit-transform: scale(0);
		-ms-transform: scale(0);
		transform: scale(0);
		transition: none;
	}
	.examples-wrapper {
		text-align: center;
		h1 {
			text-align: center;
			color: @primary;
			margin-bottom: 20px;
			font-size: 20px;
		}
		.location {
			padding: 10px;
			height: 20px;
			i {
				margin-right: 10px;
			}
		}
		.cities-btn {
			padding: 10px;
			height: 20px;
			position: relative;
			i {
				margin-right: 10px;
			}
			&:after {
				content: "";
				position: absolute;
				top: calc(~"50% - 10px");
				right: -5px;
				height: 20px;
				width: 3px;
				background: black;

			}
		}

	}
	.input-group {
		margin-top: 20px;
		// margin-bottom: 50px;
		form {
			// border: 3px solid @hover;
			input, .btn {
				white-space: nowrap;
				box-sizing: border-box;
				-moz-box-sizing: border-box;
				-webkit-box-sizing: border-box;
				border: 3px solid @hover;
			}
			input {
				padding: 14px;
				width: 69%;
				outline: none;
				border-radius: 5px;
			}
			.btn {
				padding: 16px;
				margin: 0 0 0 0;
				border-radius: 5px;
				width: 30%;
				background-color: @primary;
				color: #fff;
				cursor: pointer;
				&:hover {
					background-color: @hover;
				}
				&:disabled {
					background-color: @disabled;
				}
			}
		}
	}

}
.weather-forecast-wrapper {
	overflow: hidden;
	text-align: center;
	width: 530px;
	min-width: 300px;
	margin: 0 auto;
	margin-top: 50px;
	border-radius: 30px;
	margin-bottom: 20px;
	-webkit-box-shadow: 0px 6px 13px 5px rgba(0,0,0,0.33);
	-moz-box-shadow: 0px 6px 13px 5px rgba(0,0,0,0.33);
	box-shadow: 0px 6px 13px 5px rgba(0,0,0,0.33);
	position: relative;
	visibility: hidden;
	opacity: 0;
	.transition(0.5s);
	-webkit-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
	background-position: center;
	background-repeat: no-repeat; 
	background-size: cover;
	&.active {
		visibility: visible;
		opacity: 1;
		.transform-none;
	}
	.search-location {
		position: absolute;
		color: @search-location;
		top: 20px;
		right: 20px;
		font-size: 30px;
		cursor: pointer;
		z-index: 300;
	}
	.header {
		width: 100%;
		height: 100%;
		text-align: center;
		#title {
			text-align: center;
			padding-top: 20px;
			.flex;
			.flex-jc-center;
			h2 {
				font-size: 30px;
				color: @text-color;
				font-weight: bold;
			}
		}
		#temperature {
			margin-top: 10px;
			h3 {
				font-size: 30px;
				color: @text-color;
			}
		}

		#weather-description {
			.flex;
			.flex-center-center;
			.flex-col;
			margin-top: 10px;
			h2 {
				font-size: 25px;
				font-style: oblique;
				margin-right: 20px;
				margin-bottom: 10px;
				color: @text-color;
			}
			#icon {
				img {
				}
			}
		}
	}
	.content {
		.weather-forecast {
			.border;
			max-height: 140px;
			overflow: auto;
			margin-top: 180px;
			margin-bottom: 20px;
		}
		#day {
			margin: 6px 0;
 			.flex;
			.flex-center-center;
			h4 {
				font-size: 20px;
				display: block;
				width: 40%;
				.flex;
				.flex-jc-center;
				padding-left: 10px;
				color: @text-color;
				padding: 8px 0;
				// background: red;
			}
			#small-icon {
				width: 20%;
				// background: gold;
				.flex;
				.flex-center-center;
				img {
					height: 40px;
					width: 40px;
				}
			}
			p {
				font-size: 20px;
				display: block;
				width: 30%;
				color: @text-color;
				padding: 8px 0;
				// background: green;
			}
		}
	}
	.footer {
		.flex;
		.flex-center-center;
		.border;
		position: relative;
		min-height: 60px;
		#info {
			font-size: 45px;
			color: white;
			i {
				cursor: pointer;
			}
		}
	}
	#table {
		position: absolute;
		top: 200px;
		left: calc(~"50% - 255px");
		margin: 20px 0;
		.flex;
		.flex-jc-center;
		visibility: hidden;
		opacity: 0;
		.transition(0.5s);
		-webkit-transform: translateX(-500px);
		-ms-transform: translateX(-500px);
		transform: translateX(-500px);
		position: absolute;
		border-radius: 30px;
		tr {
			background: gray;
			td,th {
				width: 250px;
				height: 30px;
				text-align: center;
				// border: 3px solid @hover;
				color: white;
			}
	
		}
		// tr:nth-child(2n+1) {
		// 	background: gainsboro;
		// }
		&.active {
			visibility: visible;
			opacity: 1;
			.transform-none;
			// position: relative;
		}
	}
}
// Clsasses for weather-forecast-wrapper (background animation).
.col-13d {
	@tempcol: black;
	.search-location {
		color: @tempcol;
	}
	.header #title h2 {
		color: @tempcol;
	}
	.header #temperature h3 {
		color: @tempcol;
	}
	.header #weather-description h2 {
		color: @tempcol;
	}
	.content #day h4 {
		color: @tempcol;
	}
	.content #day p {
		color: @tempcol;
	}
	.footer #info {
		color: @tempcol;
	}
}
.col-13n {
	@tempcol: rgb(0, 255, 76);
	.search-location {
		color: @tempcol;
	}
	.header #title h2 {
		color: @tempcol;
	}
	.header #temperature h3 {
		color: @tempcol;
	}
	.header #weather-description h2 {
		color: @tempcol;
	}
	.content #day h4 {
		color: @tempcol;
	}
	.content #day p {
		color: @tempcol;
	}
	.footer #info {
		color: @tempcol;
	}
}
.cities {
	position: absolute;
	top: 300px;
	left: calc(~"50% - 265px");
	width: 530px;
	background: gray;
	border-radius: 30px;
	overflow: hidden;
	.transition(0.5s);
	transform: translateY(-1000px);
	&.active {
		.transform-none;
	}
	p {
		font-size: 30px;
		text-align: center;
		color: white;
		cursor: pointer;
		.transition(0.5s);
		&:hover {
			background-color: @hover;
			-webkit-transform: scale(1.2);
			-ms-transform: scale(1.2);
			transform: scale(1.2);
		}
	}
	p:first-child {
		margin-top: 55px;
	}
	.flex;
	.flex-jc-center;
	.flex-col;
	.btn-clear-last, .btn-clear-all {
		white-space: nowrap;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		border: 3px solid @hover;
		padding: 10px;
		border-radius: 5px;
		width: 30%;
		min-width: 130px;
		background-color: @primary;
		color: #fff;
		margin: 5px auto;
		cursor: pointer;
		&:hover {
			background-color: @hover;
		}
		&:disabled {
			background-color: @disabled;
		}
	}
	.btn-clear-last {
		margin-top: 20px;
	}
	.btn-clear-all {
		margin-bottom: 30px;
	}
}
.how-to-use {
	text-align: center;
	width: 330px;
	margin: 15px auto;
}
.loader {
	text-align: center;
	visibility: hidden;
	opacity: 0;
	margin-top: 20px;
	position: absolute;
	img {
		height: 150px;
		width: 150px;
	}
	&.active {
		visibility: visible;
		opacity: 1;
		position: relative;
	}
}
footer {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
}
@media (max-width: 800px) {
    .search-wrapper {
        width: 300px;
        margin-top: 50px;
        .examples-wrapper {
            h1 {
                font-size: 15px;
            }
        }
        .input-group {
            form {
                input {
                    width: 68%;
                }
            }
        }
    
    }
    .weather-forecast-wrapper {
        width: 400px;

        .header {
            min-height: 30px;
            #title {
                h2 {
                    font-size: 20px;
                }
            }
            #temperature {
                h3 {
                    font-size: 20px;
                }
            }
            #weather-description {
                h2 {
                    font-size: 15px;
                    // margin-right: 20px;
                    // margin-bottom: 10px;
                }
                #icon {
                    img {
                        height: 30px;
                        width: 30px;
                    }
                }
            }
        }
        .content {
            .weather-forecast {
                max-height: 110px;
                margin-top: 180px; 
                margin-bottom: 20px;
            }
            #day {
                h4 {
                    font-size: 14px;
                    width: 40%;
                    padding: 6.5px 0;
                }
                #small-icon {
                    width: 30%;
                    img {
                        height: 30px;
                        width: 30px;
                    }
                }
                p {
                    width: 20%;
                    font-size: 14px;
                    padding: 6.5px 0;
                }
            }
        }
        .footer {
            #info {
                font-size: 30px;
            }
        }
        #table {
            top: 150px;
            left: calc(~"50% - 135px");
            tr {
                width: 350px;
                td,th {
                    width: 130px;
                }
            }
        }
    }

    .cities {
        left: calc(~"50% - 150px");
        width: 300px;
        p {
            font-size: 20px;
        }
    }

    .how-to-use {
        width: 200px;
    }
}

@media (max-width: 500px) {
    .weather-forecast-wrapper {
        width: 100%;
        height: 100vh; 
        max-height: 800px;
        margin: 0 auto; // del
        margin-bottom: 0;
        margin-top: 0;
        border-radius: 0;
        .header {
            max-height: 150px;
            margin-top: 20px;
        }
        .content {
            margin-top: 65vw;
            .weather-forecast {
                // margin-top: 0;
                // margin-bottom: 0;
            }
        }
    }
}