html,
body {
  background-color: white;
  margin: 0;
  padding: 0;
  font-family: "Tahoma";
  position: relative;
}
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
p,
a,
div {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  color: black;
  font-family: "Tahoma";
  font-size: 14px;
  font-weight: normal;
}
/* ================================= */
/* :::::::::: Flex-Mixins :::::::::: */
/* ================================= */
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.flex-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}
.flex-col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.flex-jc-start {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: start;
}
.flex-jc-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.flex-center-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.flex-align-items-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.flex-jc-end {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.flex-jc-space-around {
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
.flex-jc-space-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.flex-jc-space-evenly {
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}
.flex-wrap {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.h-and-w {
  height: 100%;
  width: 100%;
}
.box-sizing {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* ================================= */
/* :::::: Transition-Transform ::::: */
/* ================================= */
.transform-none {
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
}
.box {
  -webkit-transition: all ease 1s;
  -o-transition: all ease 1s;
  transition: all ease 1s;
}
.box {
  -webkit-transition: all ease 10s;
  -o-transition: all ease 10s;
  transition: all ease 10s;
}
@media (max-width: 1100px) {
  #main-wrapper .slider-wrapper h1 {
    font-size: 40px;
  }
  #main-wrapper .slider-wrapper p {
    font-size: 20px;
    padding-top: 35px;
  }
  .slider-wrapper h1 {
    font-size: 40px;
  }
  .slider-wrapper p {
    font-size: 20px;
  }
  .slider-wrapper h1 {
    font-size: 40px;
  }
  .slider-wrapper p {
    font-size: 20px;
  }
  .slider-wrapper h1 {
    font-size: 40px;
  }
  .slider-wrapper p {
    font-size: 20px;
  }
  .slider-wrapper h1 {
    font-size: 40px;
  }
  .slider-wrapper p {
    font-size: 20px;
  }
  .slider-wrapper h1 {
    font-size: 40px;
  }
  .slider-wrapper p {
    font-size: 20px;
  }
  .slider-wrapper h1 {
    font-size: 40px;
  }
  .slider-wrapper p {
    font-size: 20px;
  }
}
@media (max-width: 900px) {
  .logo {
    width: 100%;
    height: 45px;
    text-align: center;
  }
  .logo img {
    height: 45px;
    margin: 0 auto;
  }
  .input-group {
    margin-bottom: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .input-group input {
    margin: 10px 0;
  }
  .input-group .btn {
    margin: 0 auto;
  }
}
@media (max-width: 700px) {
  #main-wrapper .about-ltd {
    min-height: 1640px;
  }
  #main-wrapper .about-ltd .text {
    min-height: 450px;
  }
  #main-wrapper .about-ltd .text img {
    padding-top: 50px;
  }
  #main-wrapper #webmasters-and-advertisers .same-wrapper .text-wrapper img {
    height: 145px;
    width: 280px;
  }
  #main-wrapper #webmasters-and-advertisers .same-wrapper .text-wrapper h2 {
    font-size: 40px;
  }
  #main-wrapper #webmasters-and-advertisers .same-wrapper .text-wrapper h3 {
    font-size: 20px;
  }
  #main-wrapper #partners .text h2 {
    font-size: 30px;
  }
  #main-wrapper #partners .text h3 {
    font-size: 20px;
  }
}
@media (max-width: 420px) {
  #main-wrapper #head .slider-wrapper .text-wrapper {
    min-height: 100px;
    margin: 0;
    margin-top: 20px;
  }
  #main-wrapper #head .slider-wrapper .text-wrapper h1 {
    font-size: 17px;
  }
  #main-wrapper #head .slider-wrapper .text-wrapper p {
    font-size: 12px;
  }
  #main-wrapper #head .about-ltd h2 {
    font-size: 16px;
  }
  #main-wrapper #head .about-ltd p {
    font-size: 12px;
  }
  #main-wrapper #webmasters-and-advertisers .same-wrapper .text-wrapper h2 {
    font-size: 16px;
  }
  #main-wrapper #webmasters-and-advertisers .same-wrapper .text-wrapper h3 {
    font-size: 14px;
  }
  #main-wrapper #webmasters-and-advertisers .same-wrapper .text-wrapper p {
    font-size: 12px;
  }
  #main-wrapper #partners .text h2 {
    font-size: 16px;
  }
  #main-wrapper #partners .text h3 {
    font-size: 14px;
  }
  #main-wrapper #partners .text p {
    font-size: 12px;
  }
  #main-wrapper #ltd-metricon .text h2 {
    font-size: 16px;
  }
  #main-wrapper #ltd-metricon .text h3 {
    font-size: 14px;
  }
  #main-wrapper #ltd-metricon .text p {
    font-size: 12px;
  }
  #main-wrapper #advertising .same-wrapper .text-wrapper img {
    height: 50px;
    width: 150px;
  }
  #main-wrapper #advertising .same-wrapper .text-wrapper p {
    font-size: 12px;
  }
  footer a,
  footer h6 {
    font-size: 15px;
  }
}
@media (max-width: 320px) {
  h1 {
    font-size: 14px !important;
  }
  h2,
  .btn,
  input {
    font-size: 12px !important;
  }
  h3,
  h6,
  a {
    font-size: 10px !important;
  }
  p {
    font-size: 8px !important;
  }
  img {
    max-width: 220px !important;
  }
}
