html,
body {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
a,
span,
div,
p,
input {
  margin: 0;
  padding: 0;
  font-weight: normal;
  list-style: none;
  text-decoration: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  font-family: "OpenSans";
}
h1,
h2 {
  font-family: "OpenSans Bold";
}
html,
body {
  background-color: white;
  margin: 0;
  padding: 0;
  font-family: "Tahoma";
  position: relative;
}
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
p,
a,
div {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  color: black;
  font-family: "Tahoma";
  font-size: 14px;
  font-weight: normal;
}
/* ================================= */
/* :::::::::: Flex-Mixins :::::::::: */
/* ================================= */
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.flex-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}
.flex-col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.flex-jc-start {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: start;
}
.flex-jc-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.flex-center-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.flex-align-items-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.flex-jc-end {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.flex-jc-space-around {
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
.flex-jc-space-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.flex-jc-space-evenly {
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}
.flex-wrap {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.h-and-w {
  height: 100%;
  width: 100%;
}
.box-sizing {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* ================================= */
/* :::::: Transition-Transform ::::: */
/* ================================= */
.transform-none {
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
}
.box {
  -webkit-transition: all ease 1s;
  -o-transition: all ease 1s;
  transition: all ease 1s;
}
.box {
  -webkit-transition: all ease 10s;
  -o-transition: all ease 10s;
  transition: all ease 10s;
}
.text-mixin h2 {
  font-size: 50px;
  color: #f26b09;
  line-height: 1.2;
  text-align: center;
}
.text-mixin h3 {
  text-align: center;
  font-size: 23px;
  color: #292929;
  margin-bottom: 10px;
}
.text-mixin p {
  font-size: 18px;
  text-align: left;
  color: #292929;
}
#header {
  height: 100%;
  width: 100%;
  min-height: 100px;
  background-color: #20201f;
  border-bottom: 2px solid #ff6c00;
}
.header-wrapper {
  height: 100%;
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -ms-flex-preferred-size: 300px;
  flex-basis: 300px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.logo {
  margin-top: 20px;
  width: 265px;
  height: 60px;
  cursor: pointer;
  -webkit-animation: rotate 1s infinite;
  animation: rotate 1s infinite;
}
@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
  }
  50% {
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);
  }
  100% {
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
  }
}
@keyframes rotate {
  0% {
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
  }
  50% {
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);
  }
  100% {
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
  }
}
.input-group {
  margin-top: 30px;
}
.input-group input {
  color: #ffffff;
  background-color: #20201f;
  width: 180px;
  height: 40px;
  border: 1px solid #525252;
  font-size: 20px;
  outline: none;
  margin-right: 20px;
}
.input-group input:focus,
.input-group input:hover {
  border: 1px solid #f26b08;
}
.input-group .btn {
  height: 42px;
  width: 100px;
  margin: 0;
  padding: 2px 0 0 0;
}
.btn {
  font-family: "OpenSans";
  cursor: pointer;
  color: #ffffff;
  background-color: #ab5211;
  width: 180px;
  height: 40px;
  border: none;
  outline: none;
  font-size: 20px;
}
.btn:hover {
  background-color: #f26b08;
}
#main-wrapper #head {
  height: 100%;
  width: 100%;
}
#main-wrapper .slider-wrapper .text-wrapper {
  min-height: 250px;
  margin-top: 220px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
#main-wrapper .slider-wrapper h1,
#main-wrapper .slider-wrapper p {
  color: #ffffff;
  line-height: 1.2;
  text-align: center;
  text-shadow: 0px 3px 3.84px rgba(0, 0, 0, 0.75);
}
#main-wrapper .slider-wrapper h1 {
  font-size: 70px;
  font-weight: bold;
}
#main-wrapper .slider-wrapper p {
  padding-top: 15px;
  font-size: 40px;
}
#main-wrapper .slider-wrapper .btn {
  margin: 60px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: black;
  color: white;
}
#main-wrapper .slider-wrapper .btn:hover {
  background: white;
  color: black;
}
#main-wrapper .about-ltd {
  height: 100%;
  width: 100%;
  background-color: #37393f;
  min-height: 700px;
  text-align: center;
  overflow: hidden;
}
#main-wrapper .about-ltd .text-wrapper:hover {
  -webkit-box-shadow: 0px 15px 30px 10px #f26b08;
  -moz-box-shadow: 0px 15px 30px 10px #f26b08;
  box-shadow: 0px 15px 30px 10px #f26b08;
  -webkit-transition: all ease 1s;
  -o-transition: all ease 1s;
  transition: all ease 1s;
  -webkit-transform: translateY(30px);
  -ms-transform: translateY(30px);
  transform: translateY(30px);
}
#main-wrapper .about-ltd .text {
  max-width: 400px;
  min-height: 550px;
}
#main-wrapper .about-ltd .text img {
  width: 180px;
  height: 145px;
  padding-top: 100px;
}
#main-wrapper .about-ltd .text h2,
#main-wrapper .about-ltd .text p {
  color: #ffffff;
}
#main-wrapper .about-ltd .text h2 {
  padding-top: 45px;
  font-size: 30px;
  font-weight: bold;
}
#main-wrapper .about-ltd .text p {
  padding: 10px 0 0 0;
  font-size: 16px;
  color: #ffffff;
  text-align: center;
  text-align: left;
}
#main-wrapper .about-ltd .btn {
  margin-top: 10px;
  margin-bottom: 10px;
}
#main-wrapper .about-ltd .text:last-child {
  margin-bottom: 100px;
}
#main-wrapper #webmasters-and-advertisers {
  height: 100%;
  width: 100%;
  min-height: 505px;
  overflow: hidden;
}
#main-wrapper #webmasters-and-advertisers .text-wrapper {
  text-align: center;
}
#main-wrapper #webmasters-and-advertisers .text-wrapper img {
  margin-top: 50px;
}
#main-wrapper #webmasters-and-advertisers .text-wrapper .text {
  max-width: 600px;
}
#main-wrapper #webmasters-and-advertisers .text-wrapper .text h2 {
  font-size: 50px;
  color: #f26b09;
  line-height: 1.2;
  text-align: center;
}
#main-wrapper #webmasters-and-advertisers .text-wrapper .text h3 {
  text-align: center;
  font-size: 23px;
  color: #292929;
  margin-bottom: 10px;
}
#main-wrapper #webmasters-and-advertisers .text-wrapper .text p {
  font-size: 18px;
  text-align: left;
  color: #292929;
}
#main-wrapper #webmasters-and-advertisers .text-wrapper .text h2 {
  margin-top: 40px;
}
#main-wrapper #webmasters-and-advertisers .text-wrapper .text p {
  padding: 0;
  margin-bottom: 30px;
}
#main-wrapper #partners {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: url("../img/partners1.png");
  min-height: 505px;
}
#main-wrapper #partners .text {
  height: 100%;
  width: 100%;
  max-width: 900px;
  background-color: #ffffff;
  min-height: 370px;
}
#main-wrapper #partners .text h2 {
  font-size: 50px;
  color: #f26b09;
  line-height: 1.2;
  text-align: center;
}
#main-wrapper #partners .text h3 {
  text-align: center;
  font-size: 23px;
  color: #292929;
  margin-bottom: 10px;
}
#main-wrapper #partners .text p {
  font-size: 18px;
  text-align: left;
  color: #292929;
}
#main-wrapper #partners .text h2 {
  margin-top: 40px;
}
#main-wrapper #partners .text p {
  margin: 0 80px 20px 80px;
  text-align: center;
}
#main-wrapper #ltd-metricon {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #ffffff;
  min-height: 550px;
}
#main-wrapper #ltd-metricon .text {
  height: 100%;
  width: 100%;
  max-width: 900px;
}
#main-wrapper #ltd-metricon .text h2 {
  font-size: 50px;
  color: #f26b09;
  line-height: 1.2;
  text-align: center;
}
#main-wrapper #ltd-metricon .text h3 {
  text-align: center;
  font-size: 23px;
  color: #292929;
  margin-bottom: 10px;
}
#main-wrapper #ltd-metricon .text p {
  font-size: 18px;
  text-align: left;
  color: #292929;
}
#main-wrapper #ltd-metricon .text p {
  text-align: center;
  margin: 0 10px;
}
#main-wrapper #advertising {
  height: 100%;
  width: 100%;
  min-height: 670px;
  background-color: #e7e7e7;
  text-align: center;
}
#main-wrapper #advertising .text-wrapper {
  margin-top: 50px;
}
#main-wrapper #advertising .text-wrapper.right {
  margin-top: 72px;
  margin-bottom: 50px;
}
#main-wrapper #advertising .text {
  margin-top: 50px;
  max-width: 600px;
}
#main-wrapper #advertising .text p {
  font-size: 18px;
  text-align: left;
  color: #292929;
}
#main-wrapper .same-wrapper {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  max-width: 1500px;
  margin: 0 auto;
}
#main-wrapper .same-wrapper .text-wrapper {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
#main-wrapper .same-wrapper .text-wrapper .text p {
  margin: 0 50px;
}
footer {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  background-color: #37393f;
  min-height: 160px;
}
footer .left-bar {
  padding-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
footer .right-bar {
  padding-bottom: 15px;
}
footer .links-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 30px;
}
footer .links-wrapper img {
  display: block;
  width: 72px;
  height: 50px;
  margin-right: 10px;
}
footer .links {
  max-width: 170px;
  margin-bottom: 30px;
}
footer a {
  cursor: pointer;
  white-space: nowrap;
  padding: 2px;
}
footer a:hover {
  color: #f26b08;
  border-bottom: 1px dashed #f26b08;
}
footer a,
footer h6 {
  font-size: 18px;
  font-family: "OpenSans";
  color: rgba(255, 255, 255, 0.302);
  text-align: left;
}
footer h6 span {
  margin-right: 5px;
}
[data-aos="my-animation"] {
  opacity: 0;
}
[data-aos="my-animation"].aos-animate {
  opacity: 1;
}
